<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<div class="nav">
	  <div class="navbar-nav navbar-right" style="margin-bottom: 5px; margin-right: 0px;">
	  	<%= button_to "សភាពជុសជុល", quote_historical_report_path(params[:id]), :class => "btn btn-default", :method => "get" %>
	  </div>
  	</div>

	  <div class="panel panel-default">
			<table class="table table-striped table-hover">
				<th style="width: 25%"> ទំនិញ </th>
				<th style="width: 25%"> ចំនួន </th>
				<th style="width: 25%"> តំលៃរាយ </th>
				<th style="width: 25%"> តំលៃសរុប </th>
				<% @sell_reports.each do |el| %>
				<tr>
					<td> <%= el.spare_part.name %> </td>
					<td> <%= el.unit %> </td>
					<td> <%= el.selling_price %> </td>
					<td> <%= el.total_price %> </td>
				</tr>
				<% end %>
				<tr style="background-color: blue;">
					<td colspan=3 style="text-align: right; font-weight: bold; color: green;">
						សរុប ៖
					</td>
					<td style="font-weight: bold; color: green;">
						<% if @sell_reports[0] %>
							<%= @sell_reports[0].sub_total %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td colspan=3 style="text-align: right; font-weight: bold; color: blue;">
						ប្រាក់ទទួល ៖
					</td>
					<td style="font-weight: bold; color: blue;">
						<% if @sell_reports[0] %>
							<%= @sell_reports[0].recieved %>
						<% end %> 
					</td>
				</tr>
				<tr>
					<td colspan=3 style="text-align: right; font-weight: bold; color: red;">
						ប្រាក់អាប់ ៖
					</td>
					<td style="font-weight: bold; color: red;">
						<% if @sell_reports[0] %>
							<%= @sell_reports[0].return %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>