function updateTotal() {
	var sum = 0;
	$('.total_price').each(function(){
		var price = $(this);
		sum += parseFloat(price.val());
	});

	$("#total").val(sum.toFixed(2));
}

function updateReturnMoney() {
	var total = $("#total").val();
	var recieved = $("#recieved").val();
	var return_back = recieved - total;
	$("#return").val(return_back);
}

// $("#car_history_car_id").val("<%= @plate_number %>")

$('#spare_part_detail > tbody:last').append("<tr><td class='code'> <%= @spare_part.code %> </td><td class='spare_part'> <%= @spare_part.name %> </td> <td> <input class='amount' type='text' value='<%= @amount %>'/> </td> <td> <input class='based_price' type='text' value='<%= @spare_part.selling_price %>'/> </td><td> <input class='total_price' type='text' value='<%= @total %>'/> </td><td class='delete_item'><b style='color: red; cursor: pointer;'>X</b></td></tr>");

$(".delete_item").click(function(){
	$(this).parents('tr').remove();
	updateTotal();
	updateReturnMoney();
});

$(".total_price").change(function(){
	updateTotal();
	updateReturnMoney();
});

$(".based_price").change(function(){
	var based_price = parseFloat($(this).val()).toFixed(2);
	var amount = parseFloat($(this).parents("tr").children().find('input')[0].value).toFixed(2);
	var total = based_price * amount;
	$(this).parents("tr").children().find('input')[2].value = total.toFixed(2);
	updateTotal();
	updateReturnMoney();
});

$(".amount").change(function(){
	var amount = parseFloat($(this).val()).toFixed(2);
	var based_price = parseFloat($(this).parents("tr").children().find('input')[1].value).toFixed(2);
	var total = based_price * amount;
	$(this).parents("tr").children().find('input')[2].value = total.toFixed(2);
	updateTotal();
	updateReturnMoney();
});

$("#recieved").change(function(){
	updateReturnMoney();
});

$("#total").change(function(){
	updateReturnMoney();
});


updateTotal();
updateReturnMoney();
