<div class="view_spare_part">
	<b>Code :</b> <%= @spare_part.code %> <br/>
	<b>Name :</b> <%= @spare_part.name %> <br/>
	<b>Type :</b> <%= @spare_part.spare_part_type.name %> <br/>
	<b>Amount In Stock :</b> <%= @spare_part.amount_in_stock %> <br/>
	<b>Based Price :</b> <%= @spare_part.based_price %> <br/>
	<b>Selling Price :</b> <%= @spare_part.selling_price %> <br/>
	<b>Created Date :</b> <%= @spare_part.created_at %> <br/>
	<b>Updated Date	:</b> <%= @spare_part.updated_at %>
</div>