<div id="wrapper">
<%= form_for @car, :html => {:class => "form-horizontal"} do |f| %>
      <div class="form-group">
        <%= f.label :plate_number, "Plate Number:", class: "col-xs-2 control-label" %>
        <div class="col-md-3">
          <%= f.text_field :plate_number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :name, "Type:", class: "col-xs-2 control-label" %>
        <div class="col-md-3">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div> 
 <% end %>
</div>